<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="formCtrl">
  <form novalidate>
    Username:<br>
    <input type="text" ng-model="username"><br>

    <br>
    <label ng-repeat="question in questions">
        <input type="checkbox" ng-checked="isChecked(question)">{{ question }}<br>
    </label><br/>
    <br>
    <select ng-model="selectedName" ng-options="Rank for Rank in RankType"></select>
    <button ng-click="submitForm()">Submit</button>
    <br><br>
  </form>
<br>
------------<br>
Result: {{ result }} <br>
Error: {{ error }} <br>
Status: {{ status }} <br>
------------<br>
</div>

<script>
var app = angular.module('myApp', [])
app.controller(
    'formCtrl', function($scope, $http) {
        $scope.questions = [
            'Question 1', 
            'Question 2', 
            'Question 3', 
            'Question 4'
        ]
        $scope.RankType = ["AwesomeHome", "AwesomeJob", "AwesomeSelf"]
        
        $scope.submitForm = function () {
            var requestContent = {}

            requestContent['userid'] = $scope.username
            requestContent['ranktype'] = $scope.selectedName
            requestContent['answerchecked'] = 1

            $http({
                method: 'POST',
                url: '/meiva/api/rankfiler/new',
                data: requestContent,
                header: {
                    "Content-Type": "application/json"
                }
            }).then(
            function (success) {
                $scope.result = success.data
            },
            function (error) {
                $scope.error = error.data.message
            })
        }
    }
)
</script>

</body>
</html>