<!DOCTYPE html>
<html>
<head>

    <!-- CSS -->
    <!-- load up bootstrap and add some spacing -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
        body         { padding-top:50px; }
        form, pre    { margin-bottom:50px; }
    </style>
</head>

<body>
<div class="col-xs-12 col-sm-10 col-sm-offset-1">

    <h2>Project Meiva</h2>

    <form action="/meiva/api/rankfiler/form/new" method="post">
    
        <!-- NAME INPUT -->
        <div class="form-group">
            <label>UserName</label>
            <input type="text" class="form-control" name="name">
        </div>
        
        <!-- MULTIPLE CHECKBOXES -->
        <div class="form-group">
            {% for category in categories %}
                <label>{{category}}</label>
                <div class="form-group">
                        {% for question in questions %}
                        {% if category == question._source.category %}
                        <label class="checkbox">
                            <input type="checkbox" name="answerchecked" value={{question._source.question.replace(" ","_")}}>{{ question._source.question }}
                        </label>
                        {% endif %}
                        {% endfor %}
                </div>
            {% endfor %}
        </div>
        
        <br>
        <button class="btn btn-danger btn-lg">Send Away!</button>
    </form>
</div>
</body>
</html>
